.appointmentWrapper{
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}

.appointmentWrapper p{
    font-size: 1rem;
    font-weight: 800;
    border-bottom: 1px solid black;
}

.searchBtn{
    margin-left: 1em;
}
.table{
    margin-bottom: 3em;
    width: 100%;
}

.modifyForm{
    margin-bottom: 2em;
    display: flex;
}

.modifyFormCol2{
    margin-left: 1em;
}

.appointmentWrapper input, select{
    padding: .4em;
    border-radius: 3px;
}

.searchBtn, .statusBtn, .modifyBtn{
    cursor: pointer;
}

.statusOptionP{
    
}

.statusOptionM{
    color:red;
}

.statusOptionA{
    color: green;
}