/* ResponsiveTable.css */

.table-container {
  overflow-x: auto;
  max-height: 400px; /* Set your desired maximum height */
  position: relative; 
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  position: sticky; /* Make the headers sticky */
  top: 0; /* Stick to the top of the container */
  background-color: #fff; /* Set a background color for headers */
  z-index: 1; /* Ensure headers appear above table body */
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;

}

/* Responsive styling */
@media screen and (max-width: 600px) {
  th,
  td {
    font-size: 14px;
  }
}
